<a href="https://colab.research.google.com/github/bmanisha7/data690_manisha/blob/main/assignment_08/in_class_practicie_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In class Practice session 8
- Name: Mansiha
- Date: 10/21/21

In [1]:
import pandas as pd
import plotly.express as px

In [15]:
df = pd.read_csv('wdi_data (1).csv')
df

      Unnamed: 0  Year  ...         Income Group Lending Type
0              0  2015  ...           Low income          IDA
1              1  2016  ...           Low income          IDA
2              2  2017  ...           Low income          IDA
3              3  2018  ...           Low income          IDA
4              4  2015  ...  Upper middle income         IBRD
...          ...   ...  ...                  ...          ...
5071        5071  2015  ...  Lower middle income        Blend
5072        5072  2016  ...  Lower middle income        Blend
5073        5073  2017  ...  Lower middle income        Blend
5074        5074  2018  ...  Lower middle income        Blend
5075        5075  2019  ...  Lower middle income        Blend

[5076 rows x 9 columns]

In [16]:
df_2019 = df.query("Year ==2019")

df_2019.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
1360        1360  2019  ...  Upper middle income             IDA
4843        4843  2019  ...          High income  Not classified
1931        1931  2019  ...          High income  Not classified
2051        2051  2019  ...           Low income             IDA
2417        2417  2019  ...  Upper middle income            IBRD
1700        1700  2019  ...  Upper middle income           Blend
4563        4563  2019  ...          High income  Not classified
2111        2111  2019  ...          High income            IBRD
2081        2081  2019  ...          High income  Not classified
3667        3667  2019  ...           Low income             IDA

[10 rows x 9 columns]

In [17]:
df_2019 = df_2019.query("indicator in['SP.DYN.LE00.IN','NY.GDP.PCAP.PP.CD']")
#df_2019 = df_2019[df_2019['indicator'].isin(["SP.DYN.LE00.IN","NY.GDP.PCAP.PP.CD"])]

df_2019

      Unnamed: 0  Year  ...         Income Group    Lending Type
726          726  2019  ...           Low income             IDA
732          732  2019  ...  Upper middle income            IBRD
738          738  2019  ...  Lower middle income            IBRD
744          744  2019  ...  Lower middle income            IBRD
750          750  2019  ...          High income            IBRD
...          ...   ...  ...                  ...             ...
5055        5055  2019  ...          High income  Not classified
5060        5060  2019  ...  Lower middle income  Not classified
5065        5065  2019  ...           Low income             IDA
5070        5070  2019  ...  Lower middle income             IDA
5075        5075  2019  ...  Lower middle income           Blend

[390 rows x 9 columns]

In [18]:
df_2019.drop(columns = ['Unnamed: 0','Year'] , inplace=True)
df_2019.head()

            value          indicator  ...         Income Group Lending Type
726   2152.366489  NY.GDP.PCAP.PP.CD  ...           Low income          IDA
732  14230.989507  NY.GDP.PCAP.PP.CD  ...  Upper middle income         IBRD
738  11997.337834  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
744   6952.419362  NY.GDP.PCAP.PP.CD  ...  Lower middle income         IBRD
750  22460.019253  NY.GDP.PCAP.PP.CD  ...          High income         IBRD

[5 rows x 7 columns]

In [21]:
df_pivot = df_2019.pivot(index=['Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator Country Code          Country Name  ... NY.GDP.PCAP.PP.CD SP.DYN.LE00.IN
0                  ABW                 Aruba  ...               NaN         76.293
1                  AFG           Afghanistan  ...       2152.366489         64.833
2                  AGO                Angola  ...       6952.419362         61.147
3                  ALB               Albania  ...      14230.989507         78.573
4                  ARE  United Arab Emirates  ...      69957.618075         77.972

[5 rows x 7 columns]

In [22]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Code       208 non-null    object
 1   Country Name       208 non-null    object
 2   Region             208 non-null    object
 3   Income Group       208 non-null    object
 4   Lending Type       208 non-null    object
 5   NY.GDP.PCAP.PP.CD  192 non-null    float64
 6   SP.DYN.LE00.IN     198 non-null    float64
dtypes: float64(2), object(5)
memory usage: 11.5+ KB

In [26]:
fig = px.scatter(
    df_pivot,
    x= 'NY.GDP.PCAP.PP.CD'	,
    y ="SP.DYN.LE00.IN",
    title = "Health vs Wealth"
)

fig.show()