<a href="https://colab.research.google.com/github/bmanisha7/data690_manisha/blob/main/assignment_03/assignmnet_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Print a random 10 by 10 matrix

In [17]:
import numpy as np
for i in range(10):
  for j in range(10):
    print(np.random.randint(10),end=" ")
    j+=1
  i+=1
  print("\n",end="")

1 8 7 5 9 6 1 2 8 5
4 2 4 3 5 4 6 3 5 5
5 5 8 6 3 1 4 5 2 2
2 5 9 0 5 8 1 4 4 4
1 5 8 6 8 0 9 7 3 0
3 4 6 5 3 1 1 3 5 2
4 6 8 6 6 0 3 0 5 1
8 3 6 6 2 0 4 3 5 7
2 7 7 5 3 3 3 6 2 3
9 8 4 8 8 5 8 2 5 9

## 2. If the random number is an odd number, print "@" instead.

In [16]:
import numpy as np
for i in range(10):
  for j in range(10):
     x= np.random.randint(10)
     if x%2==0:
       print(x,end=" ")
     else:
       print("@",end=" ")
     j+=1
  i+=1
  print("\n",end="")

4 @ @ @ @ @ @ 0 @ 2
@ @ @ @ 6 2 0 8 2 @
@ @ 0 2 2 2 4 @ @ @
@ @ 0 @ @ 6 @ 8 2 @
@ 2 @ @ @ 0 6 6 2 @
@ @ @ @ @ @ 0 @ 6 @
@ @ 8 @ 8 @ @ @ @ 0
@ 8 @ @ @ @ 8 @ 2 6
8 @ 2 8 @ 2 @ @ 2 0
0 @ @ 6 @ 8 @ @ 8 0

## 3. Calculate and Print the total of each row (use "*" to separate the total from the numbers).

In [ ]:
import numpy as np
b = 0
for i in range(10):
  for j in range(10):
    a = np.random.randint(0,10)
    print(a,end=" ")  
    b = b+a
    j+=1
  i+=1
  print("*",b)

9 1 4 7 0 9 5 7 7 1 * 50
2 8 3 5 5 6 0 1 8 6 * 94
7 4 2 9 1 0 7 5 3 1 * 133
8 1 5 3 9 0 3 3 4 4 * 173
1 6 0 3 2 8 6 1 0 1 * 201
6 6 6 8 8 0 7 5 1 7 * 255
0 7 7 6 9 1 5 7 1 5 * 303
9 0 9 6 4 6 1 8 5 1 * 352
1 4 9 8 6 9 3 5 1 2 * 400
5 9 8 3 2 9 7 3 3 1 * 450

## 4. Optional: Surround the matrix with asterisks (*) like the following:

In [20]:
import numpy as np
print("*"*23)
for i in range(10):
  print("*",end=" ")
  for j in range(10):
    print(np.random.randint(0,10),end=" ")
    j+=1
  i+=1
  print("*")
  print(end="")
print("*"*23)

***********************
* 0 8 4 6 5 6 7 4 4 4 *
* 3 8 0 0 9 1 9 9 7 6 *
* 3 0 6 4 6 3 6 2 1 1 *
* 8 8 2 3 5 1 5 4 0 2 *
* 5 8 0 3 3 0 5 1 7 4 *
* 2 9 0 0 0 0 3 6 2 6 *
* 6 8 4 7 3 1 2 6 4 2 *
* 9 5 0 9 8 2 9 3 1 0 *
* 4 0 5 8 6 7 5 2 5 9 *
* 6 9 8 4 5 7 7 0 8 7 *
***********************

## 5.Optional (challenging): Calculate and Print the total of each row and column.

In [22]:
import numpy as np
b = 0
x=0
z=0
for i in range(10):
  for j in range(10):
    a = np.random.randint(0,10)
    print(a,end=" ")  
    b = b+a
    if j==z:
      x=x+a
      #print(x)
      z=z+1
    j+=1
  i+=1
  print("*",b)
print("* "*10)
print(x) 
#print(np.sum(,axis=0))

8 1 1 7 7 0 5 9 3 3 * 44
6 2 5 8 0 3 8 9 8 0 * 93
4 9 8 2 5 7 3 3 1 6 * 141
8 2 5 5 8 0 6 1 9 6 * 191
4 5 3 1 8 4 4 3 8 6 * 237
7 8 0 9 6 2 7 9 7 7 * 299
1 1 6 6 7 5 7 6 8 9 * 355
7 8 8 7 4 3 0 5 1 2 * 400
7 7 6 1 1 8 3 7 3 6 * 449
4 4 2 1 3 7 9 2 3 8 * 492
* * * * * * * * * *
44