<a href="https://colab.research.google.com/github/bmanisha7/data690_manisha/blob/main/assignment_03/session_03_inclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 3 in Classs Practice
- Manisha Basavanna
- September 19

### 1. List Comprehension

In [3]:
#This is traditional way using for loop

x = [2, 5, -7, 10, 12]

y= []

for i in x:
  new_number = i + 10
  print(new_number)
  y.append(new_number)

print(y)

[12, 15, 3, 20, 22]

In [4]:
# This is a new way using list comprehension

y = [i + 10 for i in x]

print(y)

[12, 15, 3, 20, 22]

## 2. User-defines Function

In [7]:
# addition

def addition(a, b):
    return a + b

In [8]:
y = addition(5, 10)
print(y)

15

In [9]:
# division

def division(x , y):
  return x/y

In [10]:
f = division(10,2)
print(f)

5.0