<a href="https://colab.research.google.com/github/bmanisha7/data690_manisha/blob/main/assignment_04/assignment_04_part_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## 1. Write code to open the text file census_costs.txt and read all lines into a list named "line_list". Print line_list.

In [7]:
with open("census_costs.txt","r") as f:
  l=f.readlines()
print(l)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790\t3,929,214\t$44,377\t1.13 cents\n', '1800\t5,308,483\t$66,109\t1.24 cents\n', '1810\t7,239,881\t$178,445\t2.46 cents\n', '1820\t9,633,822\t$208,526\t2.16 cents\n', '1830\t12,866,020\t$378,545\t2.94 cents\n', '1840\t17,069,458\t$833,371\t4.88 cents\n', '1850\t23,191,876\t$1,423,351\t6.14 cents\n', '1860\t31,443,321\t$1,969,377\t6.26 cents\n', '1870\t38,558,371\t$3,421,198\t8.87 cents\n', '1880\t50,155,783\t$5,790,678\t11.54 cents\n', '1890\t62,979,766\t$11,547,127\t18.33 cents\n', '1900\t76,303,387\t$11,854,000\t15.54 cents\n', '1910\t91,972,266\t$15,968,000\t17.07 cents\n', '1920\t105,710,620\t$25,117,000\t23.76 cents\n', '1930\t122,775,046\t$40,156,000\t32.71 cents\n', '1940\t131,669,275\t$67,527,000\t51.29 cents\n', '1950\t151,325,798\t$91,462,000\t60.44 cents\n', '1960\t179,323,175\t$127,934,000\t71.34 cents\n', '1970\t203,302,031\t$247,653,000\t$1.22\n', '1980\t226,542,199\t$1,078,488,000\t$4.76\n', '1990\t248,718,301\t$2,492,830,000\t$10.02\n', '2000\t281,421,906\t$4.5 Billion\t$15.99\n', '2010*\t308,745,538\t$13 Billion\t$42.11']

In [8]:
line_list=l
line_list

['Source: https://www.genealogybranches.com/censuscosts.html\n',
 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n',
 '1790\t3,929,214\t$44,377\t1.13 cents\n',
 '1800\t5,308,483\t$66,109\t1.24 cents\n',
 '1810\t7,239,881\t$178,445\t2.46 cents\n',
 '1820\t9,633,822\t$208,526\t2.16 cents\n',
 '1830\t12,866,020\t$378,545\t2.94 cents\n',
 '1840\t17,069,458\t$833,371\t4.88 cents\n',
 '1850\t23,191,876\t$1,423,351\t6.14 cents\n',
 '1860\t31,443,321\t$1,969,377\t6.26 cents\n',
 '1870\t38,558,371\t$3,421,198\t8.87 cents\n',
 '1880\t50,155,783\t$5,790,678\t11.54 cents\n',
 '1890\t62,979,766\t$11,547,127\t18.33 cents\n',
 '1900\t76,303,387\t$11,854,000\t15.54 cents\n',
 '1910\t91,972,266\t$15,968,000\t17.07 cents\n',
 '1920\t105,710,620\t$25,117,000\t23.76 cents\n',
 '1930\t122,775,046\t$40,156,000\t32.71 cents\n',
 '1940\t131,669,275\t$67,527,000\t51.29 cents\n',
 '1950\t151,325,798\t$91,462,000\t60.44 cents\n',
 '1960\t179,323,175\t$127,934,000\t71.34 cents\n',
 '1970\t203,302,031\t$247,653,000\t$1.22\n',
 '1980\t226,542,199\t$1,078,488,000\t$4.76\n',
 '1990\t248,718,301\t$2,492,830,000\t$10.02\n',
 '2000\t281,421,906\t$4.5 Billion\t$15.99\n',
 '2010*\t308,745,538\t$13 Billion\t$42.11']

In [9]:
for line in line_list:
  print(line)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

## 2. Extract the first two lines and put them in a different list named "top2_list". You will need to use them later. Print the top2_list.

In [10]:
top2_list=[]
for i in range(0,2):
  top2_list.append(line_list[i])
for i in top2_list:
  print(i)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

## 3. Put the rest of the lines (containing useful data elements) in a new list named "data_list". Print data_list.

In [11]:
data_list=[]
#data_list.append(line_list[0])
for i in range(2,len(line_list)):
  data_list.append(line_list[i])
data_list
for i in data_list:
  print(i)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

## 4. Extract the column "Census Year" from data_list and assign them to a list named year_list. Remove the "" from the last element "2010". Print the cleansed year_list.

In [12]:
year_list=[int(i[0:4]) for i in data_list]
year_list

[1790,
 1800,
 1810,
 1820,
 1830,
 1840,
 1850,
 1860,
 1870,
 1880,
 1890,
 1900,
 1910,
 1920,
 1930,
 1940,
 1950,
 1960,
 1970,
 1980,
 1990,
 2000,
 2010]

## 5. Extract the "Total Population" column from the data_list and assign them to a list named "pop_list". Remove the "," from the numbers since Python doesn't recognize them. Print the cleansed "pop_list".

In [13]:
import re
data=[]
pop_list=[]
for i in range(len(data_list)):
  data.append(data_list[i])

In [14]:
m = re.compile(r'\d+\,+\d+\,+\d+')
pop_list=[]
for i in range(len(data)):
    matchResult = m.search(data[i])
    pop_list.append(matchResult.group())
for i in range(len(pop_list)):
  pop_list[i]=pop_list[i].replace(",","")
  pop_list[i]=int(float(pop_list[i]))
pop_list

[3929214,
 5308483,
 7239881,
 9633822,
 12866020,
 17069458,
 23191876,
 31443321,
 38558371,
 50155783,
 62979766,
 76303387,
 91972266,
 105710620,
 122775046,
 131669275,
 151325798,
 179323175,
 203302031,
 226542199,
 248718301,
 281421906,
 308745538]

##6. Extract the "Census Cost" column from the data_list and assign them to a list named "cost_list". Remove the ",", and "$", and "Billion". Make sure to add the "0"s to the numbers from which you removed "Billion". Print the cleansed cost_list.

In [15]:
cost_list=[]
for i in data:
  start=i.find("$") + len("$")
  end=i.find("\t",start)
  sub=i[start:end]
  cost_list.append(sub)
for i in range(len(cost_list)):
  cost_list[i]=cost_list[i].replace(",","")
  if "Billion" in cost_list[i]:
    cost_list[i]=cost_list[i].replace(" Billion","")
    cost_list[i]=(float(cost_list[i]))*(10**9)
  cost_list[i]=int(float(cost_list[i]))
cost_list

[44377,
 66109,
 178445,
 208526,
 378545,
 833371,
 1423351,
 1969377,
 3421198,
 5790678,
 11547127,
 11854000,
 15968000,
 25117000,
 40156000,
 67527000,
 91462000,
 127934000,
 247653000,
 1078488000,
 2492830000,
 4500000000,
 13000000000]

## 7. Extract the "Average Cost per Person" column from the data_list and assign them to a list named "avg_list". Remove the "cents", and "$". Make sure to divide the numbers in cents by 100 so that all numbers are measured in dollar. Print the cleansed avg_list.

In [16]:
m1= re.compile(r'\d+\.+\d+\s*\w+')
avg_list1=[]
for i in range(len(data)):
    matchResult = m1.search(data[i])
    avg_list1.append(matchResult.group())

avg_list2=[]
for i in range(len(avg_list1)):
  if "cents" in avg_list1[i]:
    avg_list2.append(avg_list1[i])

for i in range(len(avg_list2)):
   avg_list2[i]=avg_list2[i].replace(" cents","")
   avg_list2[i]=float(avg_list2[i])
m2= re.compile(r'\d+\.+\d+\w+')
avg_list3=[]
for i in range(len(data)):
    matchResult = m2.search(data[i])
    avg_list3.append(matchResult.group())
for i in range(len(avg_list1)):
    avg_list3[i]=float(avg_list3[i])
temp1 = [ele for ele in avg_list3 if ele not in avg_list2]
for i in range(len(avg_list2)):
  avg_list2[i]=avg_list2[i]/100
avg_list=[]
for i in range(len(avg_list2)):
  avg_list.append(avg_list2[i])
avg_list=avg_list+temp1

avg_list

[0.0113,
 0.0124,
 0.0246,
 0.0216,
 0.0294,
 0.048799999999999996,
 0.061399999999999996,
 0.0626,
 0.08869999999999999,
 0.11539999999999999,
 0.1833,
 0.15539999999999998,
 0.1707,
 0.2376,
 0.3271,
 0.5129,
 0.6043999999999999,
 0.7134,
 1.22,
 4.76,
 10.02,
 15.99,
 42.11]

## 8. Coalesce the cleansed data and save them to a text file named "census_cost.csv". The new file should look similar to the original source file except that it is in comma-delimited format and the numbers have been cleansed. The top two lines from the original file should be retained in the new file.

In [17]:
final_list=[]
final_list.append(top2_list[0])
final_list.append(top2_list[1])
for i in range(0,len(pop_list)):
  p = str(year_list[i])+"  "+str(pop_list[i])+" "+str(cost_list[i])+"  "+str(avg_list[i])
  final_list.append(p)
print(final_list)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790  3929214 44377  0.0113', '1800  5308483 66109  0.0124', '1810  7239881 178445  0.0246', '1820  9633822 208526  0.0216', '1830  12866020 378545  0.0294', '1840  17069458 833371  0.048799999999999996', '1850  23191876 1423351  0.061399999999999996', '1860  31443321 1969377  0.0626', '1870  38558371 3421198  0.08869999999999999', '1880  50155783 5790678  0.11539999999999999', '1890  62979766 11547127  0.1833', '1900  76303387 11854000  0.15539999999999998', '1910  91972266 15968000  0.1707', '1920  105710620 25117000  0.2376', '1930  122775046 40156000  0.3271', '1940  131669275 67527000  0.5129', '1950  151325798 91462000  0.6043999999999999', '1960  179323175 127934000  0.7134', '1970  203302031 247653000  1.22', '1980  226542199 1078488000  4.76', '1990  248718301 2492830000  10.02', '2000  281421906 4500000000  15.99', '2010  308745538 13000000000  42.11']

## 9. Write code to open the newly-created file "census_cost.csv", read all lines and display them. How does it look?

In [19]:
import csv
with open("census_cost.csv","w") as f:
  for p in final_list:
    f.write(p)

In [24]:
with open("census_cost.csv", "r") as d:
    displaylist = d.readlines()
print(displaylist)

['Source: https://www.genealogybranches.com/censuscosts.html\n', 'Census Year\tTotal Population\tCensus Cost\tAverage Cost Per Person\n', '1790  3929214 44377  0.01131800  5308483 66109  0.01241810  7239881 178445  0.02461820  9633822 208526  0.02161830  12866020 378545  0.02941840  17069458 833371  0.0487999999999999961850  23191876 1423351  0.0613999999999999961860  31443321 1969377  0.06261870  38558371 3421198  0.088699999999999991880  50155783 5790678  0.115399999999999991890  62979766 11547127  0.18331900  76303387 11854000  0.155399999999999981910  91972266 15968000  0.17071920  105710620 25117000  0.23761930  122775046 40156000  0.32711940  131669275 67527000  0.51291950  151325798 91462000  0.60439999999999991960  179323175 127934000  0.71341970  203302031 247653000  1.221980  226542199 1078488000  4.761990  248718301 2492830000  10.022000  281421906 4500000000  15.992010  308745538 13000000000  42.11']